{% extends 'generic-base/comercialOne-base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Lista de Parceiros </h1>
    <hr class="my-4">            
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="font-weight: bold;" scope="col">Nome</th>
                        <th style="font-weight: bold;" scope="col">Email</th>
                        <th style="font-weight: bold;" scope="col">Data de nascimento</th>
                        <th style="font-weight: bold;" scope="col">Data de entrada</th>
                        <th style="font-weight: bold;" scope="col">Username</th>
                        <th style="font-weight: bold;" scope="col">Ações</th>
                    </tr>
                    </thead>
                    {% for partner in listPartner %}
                        <tbody style="border-top: 0px;">
                        <tr>        
                            <td>{{ partner.first_name}}  {{ partner.last_name}}</td>
                            <td>{{ partner.email }}</td>
                            <td>{{ partner.birthDate }}</td>
                            <td>{{ partner.date_joined }} </td>
                            <td>{{ partner.username }} </td>
                            <td>
                                <form method="POST"  action="{% url 'partner-details-typeOne' partner.id  %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-outline-secondary">Consulta de Vendas</button>
                                </form>
                            </td>
                         </tr> 
                    {% empty %}
                    <li class="list-group-item">
                        <span>Sem Parceiros encontrados.</span>
                    </li>
                    {% endfor %}   
                </table>
                <div class="row">
                    <div class="col-sm-8">
                        <h5 style="color: red!important; font-size: 20px;" class="mb-0 text-muted">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </h5>
                    </div>
                    <div style="display: flex; justify-content: flex-end;">
                </div>
                </div>
            </ul>
        </div>
    </div>
</div>
{% endblock %}