{% extends 'generic-base/partner-base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Criar Produto</h1>
    <hr class="my-4">        
    <div class="container" style="margin-left: 0;">
        <form method="POST" action="{% url 'partner-create-product-submit' %}" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Insira o nome do produto" required>
              <label for="name">Nome do Produto</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="quantity" name="quantity" placeholder="Insira a quantidade de produto" required> 
              <label for="quantity">Quantidade</label>
            </div>

            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="description" name="description" placeholder="Insira a descrição" required>
              <label for="description">Descrição</label>
            </div>

            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="price" name="price" placeholder="Insira o preço" required>
              <label for="price">Preço</label>
            </div>

            <div class="form-floating mb-3">
                <input type="number" default value="0" class="form-control" id="promo_price" name="promo_price" placeholder="Insira o preço em promoção">
                <label for="price">Preço em Promoção (0 - default)</label>
            </div>

            <div class="form-floating mb-3">
                <select id="select" name="select" class="form-select" required>
                    <option>Escolha a categoria</option>
                    {% for category in categorys %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
                <label for="select">Categoria:</label>
            </div>

            <div class="form-floating mb-3">
              <select id="selectfornecedor" name="selectfornecedor" class="form-select" required>
                  <option>Escolha o fornecedor</option>
                  {% for provider in providers %}
                      <option value="{{ provider.id }}">{{ provider.name }}</option>
                  {% endfor %}
              </select>
              <label for="select">Fornecedor:</label>
          </div>

            <div class="form-floating mb-3">
                <input class="form-control" type="file" id="image" name="image" Required>
                <label for="image" class="form-label">Imagem</label>
            </div>

            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Inserir Produto</button>
            </div>
          </form>
          <div style="display: flex; justify-content: center;">
            <h5 style="color: red!important; padding-top: 3%; font-size: 15px;" class="mb-0 text-muted">
                {% for message in messages %}
                    {{message }}
                {% endfor %}
            </h5>
          </div>      
    </div>
</div>
{% endblock %}