{% extends 'generic-base/partner-base.html' %}

{% block content %}
    <div class="container-fluid px-4">
        <div class="container-fluid">
            <h1 class="mt-4">Lista de Produtos</h1>
            <hr class="my-4">            
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="font-weight: bold;" scope="col">Nome</th>
                                <th style="font-weight: bold;" scope="col">Quantidade</th>
                                <th style="font-weight: bold;" scope="col">Preço</th>
                                <th style="font-weight: bold;" scope="col">Preço com desconto</th>
                                <th style="font-weight: bold;" scope="col">Categoria</th>
                                <th style="font-weight: bold;" scope="col">Fornecedor</th>
                                <th style="font-weight: bold;" scope="col">Validado</th>
                                <th style="font-weight: bold;" scope="col">Status</th>
                            </tr>
                            </thead>
                            {% for product in listProducts %}
                                <tbody style="border-top: 0px;">
                                <tr>        
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.price }} €</td>
                                    <td>{{ product.promo_price }} €</td>
                                    <td>{{ product.getProductCategory }}</td>
                                    <td>{{ product.getProductProvider }}</td>
                                    {% if product.validated %} <td> 🟢 Validado </td> {% else %} <td> 🔴 Por validar </td> {% endif %}
                                    {% if product.status %} <td> 🟢 Ativo </td> {% else %} <td> 🔴 Desativo </td> {% endif %}
                                </tr> 
                            {% empty %}
                            <li class="list-group-item">
                                <span>Sem produtos encontrados.</span>
                            </li>
                            {% endfor %}   
                        </table>
                        <div style="display: flex; justify-content: flex-end;">
                            <form action="{% url 'partner-create-product-view' %}">
                                <button type="submit" style="font-weight: bold;" class="btn btn-outline-primary">Criar Produto</button>
                            </form>
    
                        </div>
                    </ul>
                </div>
            </div>
        </div>

    </div> 
{% endblock %}