{% extends 'generic-base/comercialOne-base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4">Criar Fornecedor</h1>
    <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Fornecedor</li>
        </ol>
    <hr class="my-4">        
    <div class="container" style="margin-left: 0;">
        <form method="POST" action="{% url 'create-provider-submit' %}" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" name="name" placeholder="Insira o nome do fornecedor" required>
              <label for="name">Nome do Fornecedor</label>
            </div>

            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="email" name="email" placeholder="Insira o Email" required>
              <label for="name">Email</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="telephone" name="telephone" placeholder="Insira o Telefone" required>
                <label for="name">Telefone</label>
              </div>
  
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="adress" name="adress" placeholder="Insira o Endereço" required>
                <label for="name">Endereço</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nif" name="nif" placeholder="Insira o Nif" required>
                <label for="name">NIF</label>
              </div>
  
            <div class="d-grid">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Inserir Fornecedor</button>
            </div>

        </form>
        <div style="display: flex; justify-content: center;">
            <h5 style="color: red!important; padding-top: 3%; font-size: 15px;" class="mb-0 text-muted">
                {% for message in messages %}
                    {{message }}
                {% endfor %}
            </h5>
        </div>
    </div>
</div>
{% endblock %}